html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(9, 4, 8);
  }

  header{
    background-color: aqua;
    color:aliceblue;
    font-size: 150px;
    min-height: 200px;
    text-align: center;
  }

  canvas {
    display: block;
  }

  #text-container{
    position:absolute;
    right: 0;
    width: 30vw;
    max-height: 100vh;
   
    background-color: rgb(9, 4, 8);
  }

  .text-item{
    background-color: rgb(18, 18, 29);
    padding: 1.2rem;
    margin: 0.8rem;
    font-size: 1rem;
    color:rgb(187, 37, 207);
    border-top: 1px solid rgb(44, 42, 42);
    border-bottom: 1px solid rgb(80, 80, 80);
    /* box-shadow: 1px 2px 2px rgba(130, 130, 130, 30); */
    border-radius: 0.4rem;
  }

 button{
    width: 16rem;
    height: 8rem;
    border: none;
    border-radius: 0.4rem;
    background-color: rgb(187, 37, 207);
    color:aliceblue;
    font-size: 3rem;
  }
  

  a{
    display:inline-block;
    text-decoration: none;
    color: rgb(230, 220, 30)
  }